p{
    margin: 0;
}
html,body {
    height: 100%;
  }
.addtodo-form-wrap {
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    height: 177px;
}
.todo-list.flex-row {
    border: solid 1px #ced4da;
    border-radius: 3px;
}
.todo-list-container {
    padding: 0 10px 10px;;
    border: solid 1px #ced4da;
    border-radius: 3px;
    overflow-y: auto;
    height: calc(100vh - 32vh);
    /* height: 100vh; */
}